1.  Write a Python program that uses the HiveQL language to create a table named "Employees" with columns for "id," "name," and "salary."

In [1]:
from pyhive import hive

connection = hive.Connection(host="localhost", port=10000, username="shweta")

query = '''
CREATE TABLE Employees (
    id INT,
    name STRING,
    salary FLOAT
)
'''

with connection.cursor() as cursor:
    cursor.execute(query)

2.  Create a Python program that retrieves records from a Hive table named "Customers" where the age is greater than 30.

In [ ]:
from pyhive import hive

connection = hive.Connection(host="localhost", port=10000, username="shweta")

query = '''
SELECT *
FROM Customers
WHERE age > 30
'''

with connection.cursor() as cursor:
    cursor.execute(query)
    results = cursor.fetchall()

for row in results:
    print(row)

3.  Write a Python script that sorts records in descending order based on the "timestamp" column in a Hive table named "Logs."

In [ ]:
from pyhive import hive

connection = hive.Connection(host="localhost", port=10000, username="shweta")

query = '''
SELECT *
FROM Logs
ORDER BY timestamp DESC
'''

with connection.cursor() as cursor:
    cursor.execute(query)
    results = cursor.fetchall()

for row in results:
    print(row)

4.  Write a Python program that connects to a Hive server using PyHive library and retrieves all records from a table named "Products".

In [ ]:
from pyhive import hive

connection = hive.Connection(host="localhost", port=10000, username="shweta")

query = '''
SELECT *
FROM Products
'''

with connection.cursor() as cursor:
    cursor.execute(query)
    results = cursor.fetchall()

for row in results:
    print(row)

5.  Write a Python script that calculates the average salary of employees from a Hive table named "Employees".

In [ ]:
from pyhive import hive

connection = hive.Connection(host="localhost", port=10000, username="shweta")

query = '''
SELECT AVG(salary) AS average_salary
FROM Employees
'''

with connection.cursor() as cursor:
    cursor.execute(query)
    result = cursor.fetchone()
    average_salary = result[0]

print("Average Salary:", average_salary)

6.  Implement a Python program that uses Hive partitioning to create a partitioned table named "Sales_Data" based on the "year" and "month" columns.

In [ ]:
from pyhive import hive

connection = hive.Connection(host="localhost", port=10000, username="shweta")

query = '''
CREATE TABLE Sales_Data (
    id INT,
    name STRING,
    sales FLOAT
)
PARTITIONED BY (year INT, month INT)
'''

with connection.cursor() as cursor:
    cursor.execute(query)

7.  Develop a Python script that adds a new column named "email" of type string to an existing Hive table named "Employees."

In [ ]:
from pyhive import hive

connection = hive.Connection(host="localhost", port=10000, username="shweta")

query = '''
ALTER TABLE Employees
ADD COLUMNS (email STRING)
'''

with connection.cursor() as cursor:
    cursor.execute(query)

8.  Create a Python program that performs an inner join between two Hive tables, "Orders" and "Customers," based on a common column.

In [ ]:
from pyhive import hive

connection = hive.Connection(host="localhost", port=10000, username="shweta")

query = '''
SELECT *
FROM Orders
JOIN Customers ON Orders.customer_id = Customers.id
'''

with connection.cursor() as cursor:
    cursor.execute(query)
    results = cursor.fetchall()

for row in results:
    print(row)

9.  Implement a Python program that uses the Hive SerDe library to process JSON data stored in a Hive table named "User_Activity_Logs."

In [ ]:
from pyhive import hive

connection = hive.Connection(host="localhost", port=10000, username="shweta")

query = '''
SELECT *
FROM User_Activity_Logs
'''

with connection.cursor() as cursor:
    cursor.execute(query)
    results = cursor.fetchall()

for row in results:
    print(row)